.headline {
    font-weight: 400;
    font-size: 1.9rem;
    color: $mainBlue;
    
    @mixin atSmall {
        font-size: 2.875rem;
    }
        
    &--center {
        text-align: center;
    }
    
    &--orange {
        color: $mainOrange;
    }
    
    &--small {
        font-size: 1.2rem;
        @mixin atSmall {
            font-size: 1.875rem;
        }
    }
    
    &--narrow {
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
    }
    
    &--thin {
        font-weight: 300;
    }
    
    &--b-margin-small {
        margin-bottom: .5em;
    }
    
    &--b-margin-large {
        margin-bottom: 1.6em;
    }
    
    &--bold {
        font-weight: 500;
    }
    
    &--no-t-margin {
        margin-top: 0;
    }
}